/* PHASE 5: Cats */
.content-header {
  height: 200px;
  width: 900px;
  background-image: url("../shared/cats.jpg");
  background-size: cover;
  position: relative;
}

.title {
  position: absolute;
  bottom: 20px;
  left: 240px;
  font-size: 36px;
  line-height: 1;
  font-weight: 300;
  color: white;
  text-shadow: 0 0 10px black;
}

.add-friend {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background: white;
  border-radius: 5px;
  border: 1px solid black;
  font-weight: bold;
}

.add-friend:hover {
  background: #eee;
}
