ul {
  width: 350px;
  margin: auto;

}

h1 {
  text-align: center;
}

ul li {
  float: left;
  border: 1px solid black;
  background: grey;
  list-style: none;
  width: 100px;
  height: 100px;
  font-size: 75px;
  color: black;
  text-align: center;
  font-family: sans-serif;
}

ul li:hover {
  background: yellow;
}

.white-background {
  background-color: white;
}

.xcolor {
  color: red;
}

.ocolor {
  color: blue;
}
