<form action="<%= cat_rental_request_url %>" method="Post">
  <input type="hidden" name="_method" value="PATCH">
  <input type="submit" name="status" value="APPROVED">
  <input type="submit" name="status" value="DENIED">
</form>
